<!DOCTYPE html>
<html lang="ch">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% if tz == 1 %}
			<meta http-equiv="refresh" content="0.5;url=/admin">
		{% endif %}
		<title>{{title}} - 登录</title>
		<link type="text/css" href="../static/admin/css/Login2.css" rel="stylesheet" />
	</head>

	<body>
		<!-- 表单 -->
		<form method="post" action="/login" onsubmit="return CheckLogin()" id="LoginPage">
			<!-- 标题 -->
			<h2 id="headLine">{{title}} · 登录</h2>
			<!-- 登录 -->
			<span>账号:</span>
			<input type="text" id="username" name="user" placeholder="请输入用户名" maxlength="10"><br>

			<span>密码:</span>
			<input type="password" id="password" name="pwd" placeholder="请输入密码" maxlength="18"><br>

			<input class="LRBtn" style="padding: 0px;" type="submit" value="登录"/>
		</form>


		{% if msg %}
			{% if msg["code"] == 0 %}
			<div id="finish_msg">
				<img id="msg_img" src="../static/admin/img/check-circle-filled.png">
				<span id="msg_text">{{msg["msg"]}}</span>
			</div>

			{% else %}
			<div id="error_msg">
				<img id="msg_img" src="../static/admin/img/error-circle-filled.png">
				<span id="msg_text">{{msg["msg"]}}</span>
			</div>
			{% endif %}
		{% endif %}
	</body>

	<!-- 导入脚本 -->
	<script src="../static/admin/js/Login.js" type="text/jscript"></script>

</html>
