
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{title}}</title>
<script type="text/javascript">
	window.onload = function(){
		var time = 3;
		var secondEle = document.getElementById("second");
		var timer = setInterval(function(){
			secondEle.innerHTML = time;
			time--;
			if(time==0){
				clearInterval(timer);
				location.href="{{download_url}}";
			}
				
		},1000);
	}
</script>
</head>
<body>
	<span style="color:red" id="second">3</span>秒钟后开始下载，如不下载点击<a href="{{download_url}}">这里</a>!
</body>
</html>
